<section class="agenda-generator card">
  <h4 class="card-title">Agenda Generator</h4>
  <p>
    <label for="planningFile" class="filepicker-label">Excel planning file:</label>
    <button class="btn btn-primary btn-sm" (click)="fileInput.click()">Select...</button>
    <input hidden id="planningFile" name="planningFile" type="file" #fileInput
           (change)="handleFileInput($event.target.files)">
    <span *ngIf="planningFile != null">({{planningFile.name}})</span>
  </p>
  <p>
    <button class="btn btn-success" type="submit" [disabled]="planningFile == null" (click)="onSubmit()">Generate
    </button>
  </p>

  <ngb-alert *ngIf="error != null" type="danger" (close)="resetForm()">
    {{error}}
  </ngb-alert>
  <p *ngIf="downloadUrl != null">
    <a href="{{downloadUrl}}">Download all agendas</a>
  </p>
  <p *ngIf="loading">
    Loading, please wait...
  </p>
</section>
